# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# virtual environments
.venv/
venv/

# datasets
*.zip
data/

# model checkpoints
*.pt
*.pth
model/
model2/
# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
.venv311/
venv/

# Jupyter
.ipynb_checkpoints/

# Large / raw files
*.mov
